<h2>マイページ編集画面</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :プロフィール画像 %>
　　<%= f.file_field :image %> 
  </div>
  
  <div class="field">
    <%= f.label :パスワード %> <i>(変えない場合は空欄にしてください)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :確認パスワード %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <% if resource.provider.blank? %>
    <div class="field">
      <%= f.label :現在のパスワード %> <i>(変更するためには現在のパスワードが必要です)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "アップデート" %>
  </div>
<% end %>

<h3>アカウントをキャンセル</h3>

<p>不十分な点があります <%= button_to "アカウントをキャンセル", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "戻る", :back %>
