<% @users.each do |user| %>

<div class="row">
  <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
　　    <% if user.image? %>
　　    <%= image_tag user.image.thumb.url %>
　      <% else %>
　　    <%= profile_image(user) %>
　      <% end %>
　　  </div>
      <div class="caption">
        <h3><%= user.name %></h3>
        <p><%= user.profile %></p>
        <p><%= link_to '更新', edit_user_registration_path %></p>
      </div>
  </div>
</div>

<% end %>